<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <div class="ms-auto d-flex align-items-center">
      <span class="text-white small" *ngIf="getUser()">
        {{ getUser()?.nome }} {{ getUser()?.cognome }} <strong>({{ getUser()?.role }})</strong>
      </span>
      <button class="btn btn-outline-light btn-sm" (click)="logout()" *ngIf="getUser()">Esci</button>
    </div>
  </div>
</nav>

<div class="container-fluid">
  @if(!getUser())
  {
    <login></login>
  }
  @else {
    <app-homepage></app-homepage>
  }

</div>
